<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= page_description %>">
    <title><%= page_title %></title>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body>
    <header class="p-container">
      <%= svg("ago-kc-2018-logo") %>
    </header>
    <main class="p-container"
          role="main"
          itemtype="http://schema.org/Event"
          itemscope>
      <%= yield %>
    </main>
    <%= partial "partials/analytics" %>
  </body>
</html>
