<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= page_description %>">
    <title><%= page_title %></title>
    <%= stylesheet_link_tag "main" %>
    <script src="https://use.typekit.net/mai5joe.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>
    <header class="c-hero u-flex">
      <div class="p-container u-flex u-items-center">
        <div itemtype="http://schema.org/Event"
             itemscope>
          <%= svg("ago-kc-2018-logo") %>
          <%= partial "partials/convention_details" %>
        </div>
      </div>
    </header>
    <main class="p-container"
          role="main">
      <%= yield %>
    </main>
    <%= partial "partials/analytics" %>
  </body>
</html>
