<section class="c-why-kc p-container">
  <h4 class="c-why-kc__title">Why Kansas City?</h4>

  <div class="c-why-kc__item p-media-block">
    <div class="p-media-block__title">
      <h5 class="c-why-kc__item-title p-media-block__title">
        What You Will Experience
      </h5>
    </div>
    <div class="p-media-block__body">
      <%= partial "why_list_item_one" %>
    </div>
    <div class="p-media-block__media">
      <%= image_tag "independence-temple.jpg" %>
    </div>
  </div>

  <div class="c-why-kc__item p-media-block">
    <div class="p-media-block__title">
      <h5 class="c-why-kc__item-title p-media-block__title">
        Kansas City Is The Place To Be
      </h5>
    </div>
    <div class="p-media-block__body">
      <%= partial "why_list_item_two" %>
    </div>
    <div class="p-media-block__media">
      <%= image_tag "nelson-atkins-museum.jpg" %>
    </div>
  </div>

  <div class="c-why-kc__item p-media-block">
    <div class="p-media-block__title">
      <h5 class="c-why-kc__item-title p-media-block__title">
        More Than Jazz And BBQ
      </h5>
    </div>
    <div class="p-media-block__body">
      <%= partial "why_list_item_three" %>
    </div>
    <div class="p-media-block__media">
      <%= image_tag "jc-nichols-fountain.jpg" %>
    </div>
  </div>
</section>

<section class="p-container p-container--narrow">
  <h4>To receive more information, sign up for our newsletter below, or
  <a href="mailto:l.bratney.ago.2018@gmail.com">email Convention Chair
  Lynn Bratney</a>.</h4>

  <%= partial "partials/mailchimp_sign_up" %>
</section>

<section class="p-container p-container--narrow">
  <h4>Follow Us!</h4>

  <a href="https://www.facebook.com/" target="_blank">
    <%= svg("icon-facebook-logo") %>
  </a>

  <a href="https://www.instagram.com/" target="_blank">
    <%= svg("icon-instagram-logo") %>
  </a>

  <a href="https://twitter.com/" target="_blank">
    <%= svg("icon-twitter-logo") %>
  </a>
</section>
