<section class="c-why-kc p-container">
  <h4 class="c-why-kc__title">Why Kansas City?</h4>

  <div class="c-why-kc__item p-media-block">
    <div class="p-media-block__title">
      <h5 class="c-why-kc__item-title p-media-block__title">
        What You Will&nbsp;Experience
      </h5>
    </div>
    <div class="p-media-block__body">
      <%= partial "why_list_item_one" %>
    </div>
    <div class="p-media-block__media">
      <%= image_tag "independence-temple.jpg" %>
    </div>
  </div>

  <div class="c-why-kc__item p-media-block">
    <div class="p-media-block__title">
      <h5 class="c-why-kc__item-title p-media-block__title">
        Kansas City Is The Place&nbsp;To&nbsp;Be
      </h5>
    </div>
    <div class="p-media-block__body">
      <%= partial "why_list_item_two" %>
    </div>
    <div class="p-media-block__media">
      <%= image_tag "nelson-atkins-museum.jpg" %>
    </div>
  </div>

  <div class="c-why-kc__item p-media-block">
    <div class="p-media-block__title">
      <h5 class="c-why-kc__item-title p-media-block__title">
        More Than Jazz&nbsp;And&nbsp;BBQ
      </h5>
    </div>
    <div class="p-media-block__body">
      <%= partial "why_list_item_three" %>
    </div>
    <div class="p-media-block__media">
      <%= image_tag "jc-nichols-fountain.jpg" %>
    </div>
  </div>
</section>

<section class="c-newsletter-sign-up p-container p-container--narrow">
  <h4 class="c-newsletter-sign-up__title">
    Attendees, to receive more information, sign up for our newsletter below, or
    <a href="mailto:d.brown.ago.2018@gmail.com">email Assistant
    Convention&nbsp;Chair Dan&nbsp;Brown</a>.
  </h4>

  <%= partial "partials/mailchimp_sign_up" %>

  <h4 class="c-newsletter-sign-up__title">
    Advertisers may reach out to our Advertising Chair, Maury Castro, at
    <a href="mailto:maury.castro@agohq.org">maury.castro@agohq.org</a> to
    request to be notified when we have more information on advertising with us.
  </h4>

  <h4 class="c-newsletter-sign-up__title">
    Exhibitors may reach out to our Exhibitor Chair, Tom Watgen, at
    <a href="mailto:t.watgen.ago.2018@gmail.com">t.watgen.ago.2018@gmail.com</a>
    to request to be notified when we have more information on exhibiting
    with us.
  </h4>
</section>

<!--
<section class="c-social-links p-container p-container--narrow">
  <h4 class="c-social-links__title">Follow Us!</h4>

  <div class="u-flex u-items-center u-justify-space-around">
    <a class="c-social-links__link"
       href="https://www.facebook.com/"
       target="_blank">
      <%= svg("icon-facebook-logo") %>
    </a>

    <a class="c-social-links__link"
       href="https://www.instagram.com/"
       target="_blank">
      <%= svg("icon-instagram-logo") %>
    </a>

    <a class="c-social-links__link"
       href="https://twitter.com/"
       target="_blank">
      <%= svg("icon-twitter-logo") %>
    </a>
  </div>
</section>
-->

<footer class="c-photo-credits p-container p-container--narrow"
        role="contentinfo">
  Photo credits: Kauffman Center&rsquo;s Helzberg Hall by Tim Hursley,
  Nelson-Atkins Museum of Art by Visit KC, J.C. Nichols Memorial Fountain and
  Independence Temple by Tim Lair.
</footer>
