<section>
  <h4>Why Kansas City?</h4>

  <h5>What You Will Experience</h5>
  <%= partial "why_list_item_one" %>
  <%= image_tag "independence-temple.jpg" %>

  <h5>Kansas City Is The Place To Be</h5>
  <%= partial "why_list_item_two" %>
  <%= image_tag "union-station.jpg" %>

  <h5>More Than Jazz And BBQ</h5>
  <%= partial "why_list_item_three" %>
  <%= image_tag "jc-nichols-fountain.jpg" %>
</section>

<section>
  <h4>To receive more information, sign up for our newsletter below, or
  <a href="mailto:l.bratney.ago.2018@gmail.com">email Convention Chair
  Lynn Bratney</a>.</h4>

  <%= partial "partials/mailchimp_sign_up" %>
</section>

<section>
  <h4>Follow Us!</h4>

  <a href="https://www.facebook.com/" target="_blank">
    <%= svg("icon-facebook-logo") %>
  </a>

  <a href="https://www.instagram.com/" target="_blank">
    <%= svg("icon-instagram-logo") %>
  </a>

  <a href="https://twitter.com/" target="_blank">
    <%= svg("icon-twitter-logo") %>
  </a>
</section>
